body{
	position: relative;

}

header{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.border{
	border: 2px	solid grey;
}



.playArea{

box-sizing: border-box;
margin: auto;
padding: 10px;
position: relative;
background-color: grey;
background-image: url(#);
border: 2px solid black;
width: 100%;
height: 65vw;
display: flex;
flex-wrap: wrap;
justify-content: center;

}


.goBack{
	position: absolute;
	bottom: 00px;
	width: 70px;
	background-color: red;
	padding: 10px;
}

.form{
	background-color: grey;
	width: 200px;
}

.linkButtons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.healthButton{

	padding: 10px;
}


.tv{
	display: inline-block;
	position: relative;
	margin: auto;
	text-align: left;	
	background-color: rgb(153, 204, 255);
	width: 95%;
	border: 2px solid black;
	padding: 0px 10px;
}

#hud{
	margin: auto;
	width: 70%;
}
#hud ul {
	background-color: rgb(255, 153, 204);
}

#table {
	background-color: rgb(255, 153, 204);
 	padding: 15px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
th {
  text-align: left;

}



/*rollbar*/
#rollBar{
	min-width: 550px;
	box-sizing: border-box;
	font-size: 4vh;
	position: relative;
	display: inline-block;
	align-items: stretch;
	justify-content: center;
	margin: auto;
	border-radius: 5px;
	border: 3px solid black;
	font-weight: bold;
	background-color: rgb(225, 253, 204);
	width: 100%;
	
	text-align: center;

}

#rollBar a{
	border: 1px solid black;
	margin: auto;
}

#rollBar button{
	font-size: 4vh;
}

#rollResult{
	font-size: 30px;
	font-weight: lighter;
}

#rollResultE{
	font-size: 30px;
	font-weight: lighter;
}

#enemyTurn {
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
}

#logSlideE{
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
}

#critSlideE{
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
}

.lighter{
	font-size: 30px;
	font-weight: lighter;
}


#player1Dead{
	margin: auto;
	width: 100%
	font-size: 4.2vw;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 5px;
	top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

/*heath counter*/

#player1HealthCounter{
	font-size: 6.2vw;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 100%;
	width: 8vw;
	height: 8vw;
	top: 8.5%;
    left: 39%;
}

#player1Weapon{
	cursor: pointer;
	background-image: url(../img/market/w1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 11vw;
	height: 11vw;
	top: 41.5%;
    left: 8%;
}

#player1Weapon2{
	cursor: pointer;
	background-image: url(../img/market/w1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 11vw;
	height: 11vw;
	top: 41.5%;
    left: 64%;
}

#player1Armor{
	cursor: pointer;
	background-image: url(../img/market/a1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 11vw;
	height: 11vw;
	top: 41.5%;
    left: 36%;
}

/*POPUP WEAPON*/


#weaponPopUp{

	background-image: url(../img/market/w1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 36vw;
	height: 36vw;
	top: -30vh;
    left: 31%;
    z-index: 1;
}

#weaponPopUpC{

	background-image: url(../img/market/w1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 36vw;
	height: 36vw;
	top: -30vh;
    left: 31%;
    z-index: 1;
}


#player1DefenseCounter{
	font-size: 6.2vw;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 100%;
	width: 8vw;
	height: 8vw;
	top: 76.5%;
    left: 39%;
}

#enemyHealthCounter{
	font-size: 4.2vw;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 100%;
	width: 5vw;
	height: 5vw;
	top: 6%;
    left: 24%;
}


#enemyDefenseCounter{
	font-size: 6.2vw;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 100%;
	width: 7vw;
	height: 7vw;
	top: 84%;
    left: 71%;
}



/*CHARACTER CARD*/
#charCard{
	display: flex;
	justify-content: space-around;
	color: gold;
}

#player1{

position: relative;
width: 40vw;
height: 62vw;
background-size: 100%;
background-repeat: no-repeat;
}

.player01a{	
background-image: url(../img/01a.jpg);
}

.player01b{	
background-image: url(../img/01b.jpg);
}



/*CENTERline*/
#centerLine{
	text-align: center;
	border: 3px solid black;
	padding: 10px;
	width: 20px;
	height: 20px;
	margin: 2px;
}



#enemyCard {
display: flex;
justify-content: space-around;
color: red;

}


#enemy1 {
position: relative;
box-sizing: border-box;
width: 40vw;
height: 62vw;
background-size: 100%;
background-repeat: no-repeat;
transition: right 1000ms
}


#enemy1Attack {
border: 2px solid red;
position: relative;
box-sizing: border-box;
width: 42vw;
height: 64vw;
background-size: 100%;
background-repeat: no-repeat;
top: 20px;
right: 120px;
bottom: 0px;
z-index: 1;
transform: rotate(-20deg);
transition: right 1000ms;
}


.peasant{
background-image: url(../img/W03.jpg);
}









/*toggle hidden*/

.hidden{
	display: 	none;
}

.visibleBlock{
	display: 	block;
}