body{
	position: relative;
	height: 100vh;
	min-width: 515px;
	background-image: url(../img/forestPath.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

header{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.border{
	border: 2px	solid grey;
}



.playArea{

box-sizing: border-box;
margin: auto;
padding: 10px;
position: relative;
/*background-image: url(../img/lakeMountain.jpg);
background-size: cover;*/
border: 2px solid black;
width: 100%;
height: 42vh;
display: flex;
justify-content: space-around;

}




/*rollbar*/
#rollBar{
	box-sizing: border-box;
	width: 100%;
	font-size: 2.5vh;
	margin: auto;
	height: 30vh;
	align-items: stretch;
	justify-content: center;
	border-radius: 5px;
	border: 3px solid black;
	font-weight: bold;
	color: white;
	text-align: center;
/*	background-image: url(../img/forestPath.jpg);
	background-size: cover;
	background-repeat: no-repeat;*/

}

#rollBar a{
	border: 1px solid black;
	margin: auto;
}

#rollBar button{
	font-size: 4vh;
}

/*CHARACTER CARD*/



#enemyCard {
display: flex;
justify-content: space-between;
color: red;


}


/*TABLE*/

#table {
	font-size: 9px;
/*	background-image: url(../img/forestPath.jpg);
	background-size: cover;*/
 	padding: 1px;
 	height: 10vh;
 	width: 100%;
 	margin-top: 1px;
 	color: white;
	}

	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 2px;
	}
	th {
	  text-align: left;

	}

/*CHARCARDS*/

#player1{
background-position: center;
/*border: 3px solid red;*/
width: 26vh;
height: 40vh;
position: relative;
background-size: contain;
background-repeat: no-repeat;
}


#enemy1 {
background-position: center;

/*border: 3px solid red;*/
position: relative;
width: 26vh;
height: 40vh;
background-size: contain;
background-repeat: no-repeat;
transition: right 1000ms
}


#enemy1Attack {
background-position: center;
position: relative;
box-sizing: border-box;
width: 26vh;
height: 40vh;
background-size: 100%;
background-repeat: no-repeat;
top: 20px;
right: 120px;
bottom: 0px;
z-index: 1;
transform: rotate(-20deg);
transition: right 1000ms;
}


.goBack{
	bottom: 00px;
	width: 70px;

	padding: 10px;
}

.form{
	background-color: grey;
	width: 200px;
}

.linkButtons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.healthButton{

	padding: 10px;
}





#rollResult{
	font-size: 2.5vh;
	font-weight: lighter;
}

#rollResultE{
	font-size: 2.5vh;
	font-weight: lighter;
	height: 100%;
}

#enemyTurn {
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
	height: 100%;
}

#logSlideE{
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
	height: 100%;
}

#critSlideE{
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
}

.lighter{
	font-size: 2.5vh;
	font-weight: lighter;
}

#hitPopupCard{
	display: inline-flex;
	justify-content: center;
}


#critPopupCard{
	display: inline-flex;
	justify-content: center;

}


#logWeaponPopupCard{
	display: inline-flex;
	justify-content: center;

}




#player1Dead{
	width: 100%;

	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 5px;
	height: inherit;

}

/*heath counter*/

#player1HealthCounter{
	font-size: 4.4vh;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 5.5vh;
	height: 5.5vh;
	top: 8.5%;
    left: 40%;
    transform: rotate(-10deg);
}

#player1DefenseCounter{
	font-size: 4.4vh;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 5.5vh;
	height: 5.5vh;
	top: 76.5%;
    left: 39%;
     transform: rotate(-15deg);
}

#player1HealthBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 18.5%;
    left: 8%;
    transform: rotate(4deg);
}

#player1DamageBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 18.5%;
    left: 65%;
    transform: rotate(11deg);
}



#player1Weapon{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 8%;
    transform: rotate(5deg);
}

#player1Weapon2{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 65%;
    transform: rotate(3deg);
}

#player1Armor{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 36%;
    transform: rotate(-5deg);

}

#player1AttackBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 66.5%;
    left: 8%;
    transform: rotate(-13deg);
}

#player1DefenseBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 66.5%;
    left: 64%;
    transform: rotate(7deg);
}

/*POPUP WEAPON*/


#hitPopUp{
	margin: auto;
	position: relative;
	background-image: url(../img/market/w77.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}


#critPopUp{
	margin: auto;
	position: relative;
	background-image: url(../img/market/w78.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}


#logWeaponPopUp{
	margin: auto;
	position: relative;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}


#logWeapon2PopUp{
	margin: auto;
	position: relative;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}




#enemyHealthCounter{
	font-size: 3.2vh;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 4vh;
	height: 4vh;
	top: 5%;
    left: 24%;
    transform: rotate(5deg);
}


#enemy1Dead{
	position: absolute;
	background-image: url(../img/dead.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 3px solid black;
	border-radius: 10%;
	width: 27vh;
	height: 27vh;
	top: 14%;
    left: -57%;
    transform: rotate(30deg);
}








/*toggle hidden*/

.hidden{
	display: 	none;
}

.visibleBlock{
	display: 	block;
}