header{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

body{
	position: relative;
	height: 100vh;
	min-width: 550px;
	max-width: 1700px;
	background-image: url(../img/forestPath.jpg);
	background-size: cover;
	background-repeat: repeat-y;
	width: 100%;
	margin: auto;
}

button {
	font-size: 20px;
	padding: 10px;
}

input {
	font-size: 20px;
}
p {
	font-size: 2vh;
	padding: 1px 15px;
	margin: 15px;
}
h1{
	font-size: 2.7vh;
	margin-bottom: 2px;
}
h2{
	font-size: 2.2vh;
	color: yellow;
}
h3{
	font-size: 1.5vh;
	color: grey;
}

h4{
	font-size: 1.2vh;
	color: grey;
	padding: 2px;
	margin: 1px;
}

h5{
	font-size: 1.3vh;
	padding: 2px;
	margin: 1px;

}
.border{
	border: 2px	solid grey;
}


#player1NameInput{
	margin-bottom: 10px;
	margin-top: 10px;
}

#nameConfirmButton{
	padding: 4px;
	margin-left: 10px;
	font-size: 15;
}
#characterCreation{
	color: white;
	background-image: url(../img/BG.jpg);file:///D:/Github/steve.yee/img/market/w6.jpg
	background-size: cover;
	background-repeat: repeat-y;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border: 10px solid black;
	z-index: 1;
}

#chooseCharacter{
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
}

#player1ShopInventory{
color: gold;
background-position: center;
width: 38vh;
height: 58vh;
position: relative;
background-size: contain;
background-repeat: no-repeat;
margin: 10px;
display: flex;	
}


#player1PreviousCharacter{
background-image: url(../img/arrow.png);
background-size: cover;
background-repeat: no-repeat;
width: 10vh;
height: 10vh;
cursor: pointer;

}

#player1NextCharacter{
background-image: url(../img/arrow.png);
background-size: cover;
background-repeat: no-repeat;
transform: rotate(180deg);
width: 10vh;
height: 10vh;
cursor: pointer;

}

#player1AtMarket{
	display: flex;
	justify-content: center;
}



#closeMarket{
	font-size: 12px;
	padding: 5px;
	position: absolute;
	top: 2px;
	left: 2px;
}

#closeMarket button {
	font-size: 16px;
}

#confirmBuy{
	border: 5px solid black;
	position: absolute;
	background-color: white;
	width: 500px;
	z-index: 3;
	left: 50%;
	margin-left: -250px;
	display: none;
}

#confirmDiscard{
	border: 5px solid black;
	position: absolute;
	background-color: white;
	width: 300px;
	height: 200px;
	z-index: 3;
	left: 50%;
	margin-left: -150px;
	display: none;
}

#discardButton{
}

#playArea{
box-sizing: border-box;
margin: auto;
padding: 10px;
position: relative;
/*background-image: url(../img/forestPath.jpg);
background-size: cover;*/
border: 2px solid black;
width: 100%;
height: 42vh;
display: flex;
justify-content: space-around;
}


/*rollbar*/
#rollBar{
	box-sizing: border-box;
	width: 100%;
	font-size: 2.5vh;
	margin: auto;
	height: 30vh;
	align-items: stretch;
	justify-content: center;
	border-radius: 5px;
	border: 3px solid black;
	font-weight: bold;
	color: black;
	text-align: center;
	background-image: url(../img/white.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

#rollBar a{
	border: 1px solid black;
	margin: auto;
}

#rollBar button{
	font-size: 4vh;
}

/*CHARACTER CARD*/



#enemyCard {
display: flex;
justify-content: space-between;
color: red;
}




/*CHARCARDS*/

#player1CharCard{
color: gold;
background-position: center;
width: 26vh;
height: 40vh;
position: relative;
background-size: contain;
background-repeat: no-repeat;


}


#enemy1Idle {
background-position: center;
position: relative;
width: 26vh;
height: 40vh;
background-size: contain;
background-repeat: no-repeat;
transition: right 1000ms;
display: none;
}


#enemy1Attack {
background-position: center;
position: relative;
box-sizing: border-box;
width: 26vh;
height: 40vh;
background-size: 100%;
background-repeat: no-repeat;
top: 20px;
right: 120px;
bottom: 0px;
z-index: 1;
transform: rotate(-20deg);
}

#slideStart{
}

#slidePlayer1Turn{
	display: none;
}

#slidePlayer1Turn{
	display: none;

}

#slidePlayer1Hit{
	display: none;
}

#slidePlayer1Critical{
	display: none;
}

#slideLogSlide{
	display: none;
}

#slideLogSlideE{
	display: none;
}

#slideEnemy1Turn{
	display: none;

}

#slideKillLog{
	display: none;
}

#slideNextEnemy{
	display: none;
}

#slidePlayer1Dead{
	display: none;
}






.form{
	background-color: grey;
	width: 200px;
}

.linkButtons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.healthButton{
	padding: 10px;
}


#rollResult{
	font-size: 2.5vh;
	font-weight: lighter;
}

#rollResultE{
	font-size: 2.5vh;
	font-weight: lighter;
	height: 100%;
}

#enemyTurn {
	border: 1px solid black;
	background-color: rgba(255, 153, 153, .65);
	height: 100%;
}

#logSlideE{
	border: 1px solid black;
	background-color: rgba(255, 153, 153, .65);
	height: 100%;
}

#critSlideE{
	border: 1px solid black;
	background-color: rgba(255, 153, 153, .65);
}

.lighter{
	font-size: 2.5vh;
	font-weight: lighter;
}

#hitPopupCard{
	display: inline-flex;
	justify-content: center;
}


#critPopupCard{
	display: inline-flex;
	justify-content: center;

}


#logWeaponPopupCard{
	display: inline-flex;
	justify-content: center;

}




#player1Dead{
	width: 100%;

	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 5px;
	height: inherit;

}

/*heath counter*/

#player1HealthCounter{
	text-align: center;
	  line-height: 2.4;
	font-size: 2.8vh;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 7vh;
	height: 7vh;
	top: 4.5%;
    left: 37%;
    transform: rotate(-10deg);
}




#player1DefenseCounter{
	font-size: 4.4vh;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 5.5vh;
	height: 5.5vh;
	top: 76.5%;
    left: 39%;
     transform: rotate(-15deg);
}

#player1HealthCard{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 18.5%;
    left: 8%;
    transform: rotate(4deg);
}

#player1DamageCard{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 18.5%;
    left: 65%;
    transform: rotate(11deg);
}



#player1Weapon1Card{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 8%;
    transform: rotate(5deg);
}

#player1Weapon2Card{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 65%;
    transform: rotate(3deg);
}

#player1ArmorCard{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 36%;
    transform: rotate(-5deg);

}

#player1AttackCard{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 66.5%;
    left: 8%;
    transform: rotate(-13deg);
}

#player1DefenseCard{
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 66.5%;
    left: 64%;
    transform: rotate(7deg);
}

/*toolstip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*POPUP WEAPON*/


#hitPopUp{
	margin: auto;
	position: relative;
	background-image: url(../img/market/w77.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}


#critPopUp{
	margin: auto;
	position: relative;
	background-image: url(../img/market/w78.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}


#logWeapon1PopUp{
	margin: auto;
	position: relative;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}


#logWeapon2PopUp{
	margin: auto;
	position: relative;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 24vh;
	height: 24vh;
	top: -53vh;
}




#enemyHealthCounter{
	font-size: 3.2vh;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 4vh;
	height: 4vh;
	top: 5%;
    left: 24%;
    transform: rotate(5deg);
}


#popUpOuch{
	position: absolute;
	background-image: url(../img/ouch.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 27vh;
	height: 27vh;
	top: 14%;
    left: -1%;
    transform: rotate(101deg);
    display: none;
    z-index: 2;
}

#popUpHitEnemy{
	position: absolute;
	background-image: url(../img/ouch.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 27vh;
	height: 27vh;
	top: 14%;
    left: -1%;
    transform: rotate(-101deg);
    display: none;
    z-index: 2;
}

#popUpEnemy1Dead{
	position: absolute;
	background-image: url(../img/dead2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 3px solid black;
	border-radius: 10%;
	width: 27vh;
	height: 27vh;
	top: 14%;
    left: -57%;
    transform: rotate(30deg);
    display: none;
    z-index: 2;
}

/*TABLE*/

#table {
	background-color: black;
	font-size: 14px;
/*	background-image: url(../img/forestPath.jpg);
	background-size: cover;*/
 	padding: 1px;
 	height: 10vh;
 	width: 100%;
 	margin-top: 1px;
 	table-layout: fixed;
    width: 500px;
    margin: auto;


	}

	table, th, td {
	  border: 1px solid #2d2d2d;
	  border-collapse: collapse;
	}
	th, td {
		color: white;
	  padding: 2px;
	}
	th {
	  text-align: left;
	  background-color: #4CAF50;
	  color: black;

	}


/*toggle hidden*/

.hidden{
	display: 	none;
}

.visibleBlock{
	display: 	block;
}


.goBack{
	bottom: 00px;
	width: 70px;
	padding: 10px;
}



#marketItems {
color: black;
margin: auto;

}

#storeImages img{
	margin: 2px;
  	width: 11vh;
  	height: 11vh;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 8px;
	min-height: 84px;
	min-width: 84px;

}

#buyHealing{
	width: 500px;
	height: auto;
}


#market {
	color: white;
	background-image: url(../img/BG.jpg);
	background-size: cover;
	background-repeat: repeat;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border: 10px solid black;
	z-index: 1;
	margin: auto;
	display: none;
	width: 100%;
	min-width: 550px;
}


.storeItems {
	max-width: 1700px;
	margin: auto;
	display: flex;
justify-content: space-between;

}

.floatLeft{

	width: 80vh;
	height: 16vh;
	z-index: 2;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 10px;

}


.floatRight{

	width: 80vh;
	height: 16vh;
	z-index: 2;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-right: 10px;

}

#marketCharShift{
	position: relative;
	top: -30px;
}



