body{
	position: relative;
	height: 100vh;


}

header{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.border{
	border: 2px	solid grey;
}



.playArea{

box-sizing: border-box;
margin: auto;
padding: 10px;
position: relative;
background-color: grey;
background-image: url(#);
border: 2px solid black;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;

}


.goBack{
	position: absolute;
	bottom: 00px;
	width: 70px;
	background-color: red;
	padding: 10px;
}

.form{
	background-color: grey;
	width: 200px;
}

.linkButtons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.healthButton{

	padding: 10px;
}


.tv{
	display: inline-block;
	position: relative;
	margin: auto;
	text-align: left;	
	background-color: rgb(153, 204, 255);
	width: 95%;
	border: 2px solid black;
	padding: 0px 10px;
}

#hud{
	margin: auto;
	width: 100%;
}
#hud ul {
	background-color: rgb(255, 153, 204);
}

#table {
	font-size: 9px;
	background: rgb(87,230,230);
	background: radial-gradient(circle, rgba(87,230,230,1) 0%, rgba(164,170,32,1) 75%, rgba(28,111,110,1) 97%, rgba(14,114,120,1) 100%);
 	padding: 15px;
 	height: 10vh;
 	width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
th {
  text-align: left;

}



/*rollbar*/
#rollBar{
	box-sizing: border-box;
	font-size: 2.5vh;
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	height: 30vh;
	display: inline-block;
	align-items: stretch;
	justify-content: center;
	border-radius: 5px;
	border: 3px solid black;
	font-weight: bold;
	background-color: rgb(225, 253, 204);
	text-align: center;

}

#rollBar a{
	border: 1px solid black;
	margin: auto;
}

#rollBar button{
	font-size: 4vh;
}

#rollResult{
	font-size: 2.5vh;
	font-weight: lighter;
}

#rollResultE{
	font-size: 2.5vh;
	font-weight: lighter;
	height: inherit;
}

#enemyTurn {
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
	height: inherit;
}

#logSlideE{
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
	height: inherit;
}

#critSlideE{
	border: 1px solid black;
	background-color: rgb(255, 153, 153);
}

.lighter{
	font-size: 2.5vh;
	font-weight: lighter;
}


#player1Dead{
	margin: auto;
	width: 100%
	font-size: 4.2vw;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 3px solid black;
	border-radius: 5px;
	top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

/*heath counter*/

#player1HealthCounter{
	font-size: 4.4vh;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 5.5vh;
	height: 5.5vh;
	top: 17.5%;
    left: 40%;
    transform: rotate(-10deg);
}

#player1DefenseCounter{
	font-size: 4.4vh;
	font-weight: bold;
	color: black;
	text-align: center;
	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 5.5vh;
	height: 5.5vh;
	top: 70.5%;
    left: 39%;
     transform: rotate(-15deg);
}

#player1HealthBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 25.5%;
    left: 8%;
    transform: rotate(4deg);
}

#player1DamageBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 25.5%;
    left: 65%;
    transform: rotate(11deg);
}



#player1Weapon{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 8%;
    transform: rotate(5deg);
}

#player1Weapon2{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 65%;
    transform: rotate(3deg);
}

#player1Armor{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 43.5%;
    left: 36%;
    transform: rotate(-5deg);

}

#player1AttackBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 63.5%;
    left: 8%;
    transform: rotate(-13deg);
}

#player1DefenseBonus{
	cursor: pointer;
	background-image: url(#);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 7vh;
	height: 7vh;
	top: 63.5%;
    left: 64%;
    transform: rotate(7deg);
}

/*POPUP WEAPON*/


#weaponPopUp{

	background-image: url(../img/market/W1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	transform: rotate(30deg);
	position: absolute;
	border: 1px solid black;
	width: 17vh;
	height: 17vh;
	top: 0vh;
    left: 0vh;
    z-index: 1;

}

#weaponPopUpC{

	background-image: url(../img/market/W1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid black;
	width: 17vh;
	height: 17vh;
	top: 0vh;
    left: 0vh;
    z-index: 1;
}




#enemyHealthCounter{
	font-size: 3.2vh;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 4.5vh;
	height: 4.5vh;
	top: 15%;
    left: 24%;
    transform: rotate(5deg);
}


#enemyDefenseCounter{
	font-size: 3.5vh;
	font-weight: bold;
	color: black;
	text-align: center;

	position: absolute;
	background-color: white;
	position: bottom;
	border: 1px solid black;
	border-radius: 100%;
	width: 4.5vh;
	height: 4.5vh;
	top: 77.5%;
    left: 71%;
    transform: rotate(15deg);
}

#enemy1Dead{
	position: absolute;
	background-image: url(../img/dead.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 3px solid black;
	border-radius: 10%;
	width: 27vh;
	height: 27vh;
	top: 14%;
    left: -57%;
    transform: rotate(30deg);
}




/*CHARACTER CARD*/
#charCard{
display: flex;
justify-content: space-around;
color: gold;

}


#enemyCard {
display: flex;
justify-content: space-around;
color: red;


}


/*CHARCARDS*/

#player1{
background-position: center;
/*border: 3px solid red;*/
width: 26vh;
height: 53vh;
position: relative;
background-size: contain;
background-repeat: no-repeat;
}


#enemy1 {
background-position: center;

/*border: 3px solid red;*/
position: relative;
width: 26vh;
height: 53vh;
background-size: contain;
background-repeat: no-repeat;
transition: right 1000ms
}


/*CENTERline*/
#centerLine{
	text-align: center;
	border: 3px solid black;
	padding: 10px;
	width: 20px;
	height: 20px;
	margin: 2px;
}








#enemy1Attack {
background-position: center;
position: relative;
box-sizing: border-box;
width: 28vh;
height: 53vh;
background-size: 100%;
background-repeat: no-repeat;
top: 20px;
right: 120px;
bottom: 0px;
z-index: 1;
transform: rotate(-20deg);
transition: right 1000ms;
}











/*toggle hidden*/

.hidden{
	display: 	none;
}

.visibleBlock{
	display: 	block;
}