body{

}

.playArea{
 margin: auto;
	padding: 10px;
	position: absolute;
	background-color: grey;
	background-image: url(#);
	border: 2px solid black;
	top: 30px;
	bottom: 50px;
	width: 95%;
}


.goBack{
	position: absolute;
	bottom: 00px;
	width: 70px;
	background-color: red;
	padding: 10px;
}

.form{
	background-color: grey;
	width: 200px;
}

.linkButtons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.healthButton{

	padding: 10px;
}

.peasant{
	position: absolute;
	left: 45%;
	top: 2%;
	border: 1px solid yellow;
	background-image: url(../img/character1a.png);
	height: 100px;
	width: 100px;
	/*background: no-repeat;*/
}

.peasant:hover{cursor: crosshair;}

.tv{
	margin: auto;
	text-align: left;	
	background-color: rgb(153, 204, 255);
	width: 95%;
	border: 2px solid black;
	padding: 0px 10px;
}

#hud{
	margin: auto;
	width: 70%;
}
#hud ul {
	background-color: rgb(255, 153, 204);
}

#table {
	background-color: rgb(255, 153, 204);
 	padding: 15px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
}
th {
  text-align: left;
}






/*CHARACTER CARD*/
#charCard{
	display: flex;
	justify-content: space-around;
}

#player1{
color: gold;
width: 20vw;
height: 31vw;
background-size: 100%;
background-repeat: no-repeat;
}

.player01a{	
background-image: url(../img/01a.jpg);
}

.player01b{	
background-image: url(../img/01b.jpg);
}

/*rollbar*/
#rollBar{
	margin: auto;
	border: 1px solid black;
	font-weight: bold;
	background-color: rgb(225, 253, 204);
 	padding: 0px 10px;
 	width: 95%;	
}

#rollBar a{
	border: 1px solid black;
	display: inline-block;
	width: 50px;
	padding: 20px 10px 20px 10px;
	margin: 20px 50px 20px 10px;
}

#rollBar p{
	border: 1px solid black;
	display: inline-block;
	width: 50px;
	padding: 10px 10px;
}

#enemyCard{
display: flex;
justify-content: space-around;
color: red;


#enemy1{
color: gold;
width: 20vw;
height: 31vw;
background-size: 100%;
background-repeat: no-repeat;
}


.peasant{
background-image: url(../img/01a.jpg);
}




/*toggle hidden*/

.hidden{
	display: 	none;
}

.visibleBlock{
	display: 	block;
}