body{
	color: white;
	background-color: grey;
	padding: 0px 30px;
}

a{
	color: white;
}


.earth{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 110px;
	color: white;
	background-color: black;
	background-image: url(../img/nasa.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	margin: 20px;
	padding: 26px;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 40px;
	height: 200px;
	transition: bottom 1000ms;
	background-image: url(../img/rocket.png);
	background-size: cover;
	background-repeat: no-repeat; 
}

body.body-state3 .rocket,
body.body-state4 .rocket{
		bottom: 1000px;
}


.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}