body{
	background-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 5px 30px;
}

.strong{
	font-weight:bold;
}

a:link {
	text-decoration: none;
}

a{

	color: white;
}

a:hover {
	color: grey;
}

h1{
	text-align: center;
}

p a {
	font-size: 100%;
}

p a:hover {
	font-size: 100%;
	color: yellow;
}

p{
	line-height: 1.6;
}

/*NAVBAR*/

nav{
	width: 100%;
	min-width: 560px;
	background: rgb(7,15,15);
	background: linear-gradient(0deg, rgba(7,15,15,1) 0%, rgba(0,0,0,1) 7%,
	rgba(43,18,18,1) 44%, rgba(0,0,0,1) 100%);
	height: 80px;
	margin: 0px;
	border: 5px solid rgba(0 0 0 .5);
	box-shadow: 5px 10px rgba(0,0,0,.4);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav .nametag{
	font-family: 'Dhurjati', sans-serif;
	font-size:  40px;
	color: white;
	display: block;
	height: 50px;
	width: 250px;
	cursor: pointer;
	top: 50%;
	left: 10px;
	margin-top: -33px;
	position: absolute;
}


.nametag:hover{
	color: grey;

}

nav ul{
	padding: 0;
	margin: 0;	
	position: absolute;
	right: 10px;
	margin-top: 20px;

}

nav ul li{
	display: inline;
	margin-right: 20px;
}

nav ul li a{
	right: 20px;
	top: 50%
	margin: 40px;
	cursor: pointer;
}
ul{
	 list-style: none; 
}

.links li{
font-size: 30px;
}

@media screen and (max-width: 900px) {
  .links li {
  	font-size: 25px;

  }
}


@media screen and (max-width: 775px) {
  .links li {
  	font-size: 20px;

  }
}

@media screen and (max-width: 700px) {
  .links li {
  	font-size: 15px;

  }
}

.anchor{
	position: relative;
	top: -80px;
}

.boxshadow{
	margin: 13px 0;
	padding: 13px;
	border: 3px solid red;
	height: 999px;
	box-shadow: 12px 10px 5px rgba(0,0,0,.4);
}

/*NAV Links*/
	

	/*ABOUT*/
.about-info{
	border-radius: 5px;
	background-color: black;
	color: grey;
	size: 30px;
	padding: 15px 10px 50px 10px
}

.about-info h1{
	color: white;
	size: 30px;
}



/*sound engineer*/
.soundengineer-info{
	background-color: black;
	color: grey;
	size: 30px;
	padding: 15px 10px 50px 10px
}

.soundengineer-info h1{
	color: white;
	size: 30px;
}


.concertbanner{
	width: 100%;
}


/*MUSIC*/
.music-info{
	border-radius: 5px;
	background-color: black;
	color: grey;
	size: 30px;
	padding: 15px 10px 20px 10px
}

.music-info h1{
	color: white;
	size: 30px;
}

.musiclinks{
	margin: 10px;
	padding: 0px;
}

.musiclinks ul{
	margin: -10px 0px 0px -20px;
	padding: 0px;
}

.musiclinks ul li{
	font-size: 20px;
	display: inline-block;
	border-radius: 5px;
	padding: 0px 10px 5px 10px;
	margin: 10px;
	border: 2px solid white;
}

.soundcloud{
	width: 40%;
	float: left;
}

.player{

	width: 100%;
	position: relative;
	display: inline-block;
}

.tsrbg{
	width: 50%;
	padding: 0px 10px;
	border-radius: 15px;
	max-width: 555px;
}


/*Photography*/
.photography-info{
	border-radius: 5px;
	background-color: black;
	color: grey;
	size: 30px;
	width: 100%;
	justify-content: center;
	padding: 15px 10px 50px 10px
}

.photography-info h1{
	color: white;
	size: 30px;
}

.photography-info img{
	width: 100%;
	height: auto;
}

.gallery{
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  

}

.gallery-info img{
	width: 100%;
	height: auto;
}


@media screen and (max-width: 3000px) {
  .gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media screen and (max-width: 750px) {
  .gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}



/*Webdeveloper*/
.web-development-info{
	border-radius: 5px;
	background-color: black;
	clear: both;
	color: grey;
	size: 30px;
	padding: 15px 10px 50px 10px
}

.web-development-info h1{
	color: white;
	size: 30px;
}



.footerpic{
	display: block;
	 margin-left: auto;
 	 margin-right: auto;
	width: 50%;
}

footer{
	text-align: center;
	padding: 15px 10px 50px 10px
}


.magicbutton{
	padding: 30px;
	cursor: pointer;

}

.magicbutton:hover{
	padding: 40px;

}
