body{
	background-color: black;
	color: white;
}

a:link {
	text-decoration: none;
}

a{
	font-family: 'Dhurjati', sans-serif;
	color: white;
}

a:hover {
	color: grey;
}


/*NAVBAR*/

nav{
	width: 100%;
	background: rgb(7,15,15);
	background: linear-gradient(0deg, rgba(7,15,15,1) 0%, rgba(0,0,0,1) 7%,
	rgba(43,18,18,1) 44%, rgba(0,0,0,1) 100%);
	height: 80px;
	margin: 0px;
	min-width: 650px;
	border: 5px solid rgba(0 0 0 .5);
	box-shadow: 5px 10px rgba(0,0,0,.4);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav .nametag{
	font-family: 'Dhurjati', sans-serif;
	font-size:  40px;
	color: white;
	display: block;
	height: 50px;
	width: 250px;
	cursor: pointer;
	top: 50%;
	left: 10px;
	margin-top: -33px;
	position: absolute;
}

nav ul{
	padding: 0;
	margin: 0;	
	position: absolute;
	right: 10px;
	margin-top: 20px;

}

nav ul li{
	display: inline;
	margin-right: 20px;
}

nav ul li a{
	font-size:  30px;
	right: 20px;
	top: 50%
	margin: 40px;

}



.boxshadow{
	margin: 13px 0;
	padding: 13px;
	border: 3px solid red;
	height: 999px;
	box-shadow: 12px 10px 5px rgba(0,0,0,.4);
}

.aboutpic{
	margin: 10px 10px 10px 10px;

	width: 300px;
	float: right;

}