body{
	font-family: 'Dhurjati', sans-serif;
	background: #191919;
	text-align: center;
	color: #191919;
	font-size: 25px;
	padding: 0px;
	width: 100vw;
}

.strong{
	font-weight:bold;
}

a:link {
	text-decoration: none;
}

a{
	background: -webkit-linear-gradient(#fdf5a6, #b88746);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a:hover {
	color: rgb(178, 228, 0);
}

h1{
	text-align: center;
	margin: 5px;
	padding: 1px;
	font-size: 40px;
}


p a:hover {
	font-size: 100%;
	color: yellow;
}

p{
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

/*NAVBAR*/

.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;

	background: rgb(35,66,22);
	background: -moz-linear-gradient(180deg, rgba(35,66,22,1) 0%, rgba(25,25,25,1) 66%);
	background: -webkit-linear-gradient(180deg, rgba(35,66,22,1) 0%, rgba(25,25,25,1) 66%);
	background: linear-gradient(180deg, rgba(35,66,22,1) 0%, rgba(25,25,25,1) 66%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234216",endColorstr="#191919",GradientType=1);
}



.links li{
font-size: 30px;
}

@media screen and (max-width: 900px) {
  .links li {
  	font-size: 25px;
  }
}


@media screen and (max-width: 775px) {
  .links li {
  	font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .links li {
  	font-size: 15px;
  }
}

.anchor{
	position: relative;
	top: -80px;
}

.boxshadow{
	margin: 13px 0;
	padding: 13px;
	border: 3px solid red;
	height: 999px;
	box-shadow: 12px 10px 5px rgba(0,0,0,.4);
}
.about-info{
	border-radius: 5px;
	background: rgb(46,88,29);
	background: -moz-radial-gradient(circle, rgba(46,88,29,1) 2%, rgba(25,25,25,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(46,88,29,1) 2%, rgba(25,25,25,1) 100%);
	background: radial-gradient(circle, rgba(46,88,29,1) 2%, rgba(25,25,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e581d",endColorstr="#191919",GradientType=1);
	color: rgb(101, 157, 114);
	size: 30px;
	padding: 5px 15px 10px 15px;
	z-index: 1;
	
}
.about-info h1{
	color: #00070c;
	font-size: 40px;
	line-height: .8;
}
.about-info a{
	color: rgb(0, 0, 0);

}

/* banner */
.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	background-image: url(../img/code1.jpg);
}
.banner span{
	font-size: 80px;
	overflow: hidden;
	background: -webkit-linear-gradient(#fdf5a6, #9c723c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 0;
	margin: 0;
	padding: 2px;
	transform: rotate(8deg);
	line-height: .8;
}

/*Webdeveloper*/
.web-development-info{
	border-radius: 5px;
	/* background-color: black; */
	clear: both;
	color: #fdf5a6;
	padding: 15px 15px 30px 15px
}

.web-development-info h1{
	color: #b88746;
	size: 30px;
}
.responsiveThumb{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.responsiveThumb div{
	margin: 25px 0 0 0 ;
	width: 400px
}
.responsiveThumb img{
	width: 100%;
	margin-bottom: -30px;
}
.responsiveThumb p{
	line-height: .8;
}

/*sound engineer*/
.soundengineer-info{
	background: rgb(25,25,25);
	background: -moz-linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(90,14,24,1) 44%);
	background: -webkit-linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(90,14,24,1) 44%);
	background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(90,14,24,1) 44%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#5a0e18",GradientType=1);
	size: 30px;
	padding: 0px;
}
.soundengineer-info h1{
	color: white;
	size: 30px;
}

.soundengineer-info p{
	color: grey;
	padding: 5px 50px 10px 50px;
}
.concertbanner{
	width: 100%;
}
/*MUSIC*/
.music-info{
	background: rgb(73,11,19);
	background: -moz-linear-gradient(180deg, rgba(73,11,19,1) 0%, rgba(25,25,25,1) 95%);
	background: -webkit-linear-gradient(180deg, rgba(73,11,19,1) 0%, rgba(25,25,25,1) 95%);
	background: linear-gradient(180deg, rgba(73,11,19,1) 0%, rgba(25,25,25,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#490b13",endColorstr="#191919",GradientType=1);
	border-radius: 5px;
	color: grey;
	size: 30px;
	padding: 0;

}

.music-info h1{
	color: white;
	size: 30px;
}
.music-info p{
	padding: 5px 5px 10px 5px;
}
.player{
	display: flex;
	flex-wrap: wrap;

	justify-content: space-around;
}
.player div{
	width: 400px;
}


.musiclinks{
	margin: 10px;
	padding: 0px;
}

.musiclinks ul{
	margin: -10px 0px 0px -20px;
	padding: 0px;
}

.musiclinks ul li{
	font-size: 20px;
	display: inline-block;
	border-radius: 5px;
	padding: 0px 10px 5px 10px;
	margin: 10px;
	border: 2px solid white;
}

.soundcloud{
	width: 40%;
	float: left;
}


.tsrbg{
	width: 50%;
	padding: 0px 10px;
	border-radius: 15px;
	max-width: 555px;
}


footer{
	text-align: center;
	padding: 15px 5px 50px 5px
}

.magicbutton{
	padding: 30px;
	cursor: pointer;

}

.magicbutton:hover{
	padding: 40px;

}
