

html,body{
	background: rgb(7,15,15);
background: radial-gradient(circle, rgba(7,15,15,1) 0%,
 rgba(164,170,32,1) 85%, rgba(28,111,110,1) 97%, rgba(14,114,120,1) 100%);
    height: 100%


}

#holder {
	background: radial-gradient(circle, rgba(7,15,15,1) 0%, 
	rgba(77,10,10,1) 0%, rgba(28,111,110,1) 92%, rgba(14,114,120,1) 100%);
    min-height: 100%;
    position:relative;
    display: block;
  
}

#headerbox{
 margin:  50px;
}



#headertop{
	background: rgb(7,15,15);

    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0%; 

    top: 0px;
   
}

.vuMeter{
	position: relative;
	width:100%;
	padding-bottom: 29%;
	margin: 0px 0px 0px 0px;
	background-image: url(https://github.com/theslantedroom/steve.yee/blob/master/img/VU_Meter.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.vuMeter:hover{
	background-image: url(https://github.com/theslantedroom/steve.yee/blob/master/img/VU_Meter2.jpg);
	cursor: crosshair;
 
}

#headerbottom{
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}


#body {
display: flex;
justify-content: space-around;
background-size: 10% 100%;
}


.knobs {
	border: 1px solid black;
	border-radius: 10px ;
    flex-direction: row;
    background-image: url("https://github.com/theslantedroom/steve.yee/blob/master/img/knob.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 6%;
    padding-bottom: 7.5%;
}

.knobs:hover {

}
#faderBank{
	display: flex;
	justify-content: space-around;
    background-color: white;
    background-size: 10% 100%;
    border: 10px solid grey;

}

.fader{
	width: 5%;
	background-image: url("https://github.com/theslantedroom/steve.yee/blob/master/img/fader.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 26%;
}

.fader:hover{
	background-image: url("https://github.com/theslantedroom/steve.yee/blob/master/img/fader.JPG");
	transform: rotate(180deg);
}


.goBack{
	width: 70px;
	background-color: red;
	padding: 10px;
}

.goBack:hover{
	cursor: crosshair;
	background-color: green;
	padding: 10px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border: 2px solid black;
    padding: 5px;
}

a.button:hover {
	padding: 15px;
	background-image: url(../img/nasa.jpg);
	background-size: 100%;
	color: white;
 
}

footer{
	   margin-bottom: 30px;
}